:host {
  display: flex;
  gap: 8px;
  align-items: center;
}

.btn .material-icons {
  font-size: 16px;
  vertical-align: middle;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #e5e7eb; /* border-default-200 */
}
