<div class="card">
    <div class="p-6">
        <div class="flex items-center justify-between mb-4">
            <h4 class="text-lg font-semibold text-default-900 dark:text-default-100">Wzrost w czasie</h4>
            <app-custom-dropdown
                [options]="periodOptions"
                [(ngModel)]="selectedPeriod"
                size="sm"
                [searchable]="false">
            </app-custom-dropdown>
        </div>
        <app-apexchart [getOptions]="chartOptions" />
    </div>
</div>
