<div class="card">
    <div class="card-header">
        <h6 class="card-title">Email Data</h6>
        <div>
            <app-custom-dropdown
                [options]="periodOptions"
                [(ngModel)]="selectedPeriod"
                size="sm"
                [searchable]="false">
            </app-custom-dropdown>
        </div>
    </div>
    <div class="card-body">
        <div id="emailDataChart"></div>

        <app-apexchart [getOptions]="emailDataOptions" />
        
    </div>
</div>